.font-light() {
	font-family: 'Helvetica', sans-serif;
	font-weight: 300;
}

.font-normal() {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
}

.font-semibold() {
	font-family: 'Helvetica', sans-serif;
	font-weight: 600;
}