.font-light() {
	font-family: 'Helvetica', sans-serif;
	font-weight: 300;
}

.font-normal() {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
}

.font-semi-bol() {
	font-family: 'Helvetica', sans-serif;
	font-weight: 600;
}

.lato-light() {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.lato-semibold() {
	font-family: 'Lato', sans-serif;
	font-weight:600;
}

.lato-normal() {
	font-family: 'Helvetica', sans-serif;
	font-weight:400;
}