// ==============================================
// ClearLess default settings
// ----------------------------------------------
// Override on a per-project basis as required. 
// ==============================================

// General --------------------------------------

@using-ieclasses: true;		// whether or not the markup has html5-boilerplate style IE classes in it or not
@using-modernizr: false; 	// whether or not modernizer feature-detection classes are being used
@disable-filters: false; 	// whether or not to disable MS-specific 'filter' properties (can make IE slow!)

// Typography --------------------------------

@base-font-size: 16; 		// base pixel font size. Used as a default for px -> (r)em conversions
@base-font-stack: tahoma, Arial, Helvetica, sans-serif;
// Sprites ---------------------------------------

@sprite-image: '/example.png';
@sprite-grid: 50px;

// Grid ------------------------------------------

@total-columns: 12;
@column-width: 60px;
@gutter-width: 20px;


// Directories ------------------------------------------

@img-dir: '../img/';

// Colour Palettes --------------------------------

@gray-light: #ebebeb;
@gray: #d9d9d9;
@gray-dark: #b7b7b7;
@gray-darker: #444;
@blue: #00AEEF;
@green: #7dbe32	;
@dark-green: #4d9f1c;