	// ==============================================
// ClearLess default settings
// ----------------------------------------------
// Override on a per-project basis as required. 
// ==============================================

// General --------------------------------------

@using-ieclasses: true;		// whether or not the markup has html5-boilerplate style IE classes in it or not
@using-modernizr: false; 	// whether or not modernizer feature-detection classes are being used
@disable-filters: false; 	// whether or not to disable MS-specific 'filter' properties (can make IE slow!)

// Typography --------------------------------

@base-font-size: 16; 		// base pixel font size. Used as a default for px -> (r)em conversions
@base-font-stack: tahoma, Arial, Helvetica, sans-serif;
// Sprites ---------------------------------------

@sprite-image: '/example.png';
@sprite-grid: 50px;

// Grid ------------------------------------------

@total-columns: 12;
@column-width: 60px;
@gutter-width: 20px;


// Directories ------------------------------------------

@img-dir: '../img/';

// Colour Palettes --------------------------------

@charcoal: #191816;
@darker-charcoal: #222222;
@lighter-charcoal: #414040;
@green: #3FAEA5;
@green-light: #58CAC1;
@green-dark: #1F7972;

@blue: #2581bc;
@light-blue: #2a8fd0;
@dark-blue: #1e699a;




@dark-brown: #177DB2; //menu blue
@link-color: #FFD8A7;


@gray-light: #ebebeb;
@gray: #d9d9d9;
@gray-dark: #b7b7b7;
@gray-darker: #444;

@light-orange: #fbc544;

@dark-orange: #3129CC;

@brown: #FF96E9;

@red-brown: #CC6529;
@pastel-brown: #6D6B99;



@dark-green: rgb(116, 126, 87);