/*#content .notice-container {
	//margin-top: 15px;
}

#content .notice-container > header {
	background: #fff;
	background-repeat: repeat;
	height: auto;
	text-align: center;
	margin-bottom: 5px;
	overflow: hidden;
	height: 118px;
}

#content .notice-container > header > h1 {
	.font-semibold();
	display: inline;
	position: relative;
	line-height: 21px;
	font-size: 21px;
	color: #333;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.6);
	 this is adjustable 
}

#content .notice-container > article {
	height: auto;
	margin-bottom: 5px;

	p {
		line-height: 18px;
	}

	h2 {
		font-size: 18px;
		line-height: 32px;
		color: #6C6C6C;
		text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.6);		
	}
}*/

#content {
	.notice-container { 
		overflow: hidden;
		max-width: 768px;
	}
	.notice-container > header {
		background: white;
		height: 120px;
		h1 { 
			color: #333;
			.font-semibold();
			font-size: 24px;
			margin: 0; 
			margin: 0 20px 0 20px;
			padding-top: 46px;
		}
		img {
			height: 120px;
			width: 768px;
		}
	}



	.notice-container > article, .notice-container > footer {
		background: white;
		padding: 0 20px;
		 width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}	
	.notice-container > article {
		padding-top: 30px;
		padding-bottom: 30px;
		p {
			.font-serif();
			font-size: 14px;
		}
	}

	.notice-container > footer {
		padding-top:20px;
		min-height: 100px;
		p {
			.font-serif();
			font-size: 14px;
		}
	}
}



