/* =APPLICANT ACCOUNT
=================================================================== */
	

.applicant {
	
	
	#profile-basic {
		input[type=text] { width: 245px;}
		select { width: 259px;}
	}
	#profile-slug {
		input[type=text] { width: 104px;}
	}
	#profile-photo {

		float: right;

		img {
			max-width: inherit !important;
		}

		#current-photo {
			float: left;

			#photo { 

				position: relative;
				.size(150px, 150px);
				overflow: hidden;

				img {
					.size(150px, 150px);
					overflow: hidden;
				}

				#photo-edit-btn {
					position: absolute;
					bottom: 0;
					background: url(/img/opac-bg.png);
					width: 150px;
					text-align: center;
					color: #fff;
					a { color: #fff; }
				}	
			}

			#upload-profile-pic { display: none; }

			p {
				margin-top: 3px;
				line-height: 18px;
			}			
		}

		#edit-photo {

			#crop-profile-pic-btn {
				display: none;

			}

		}
	}
	.accordion-inner { overflow: hidden; }
	.accordion-group { 
		
		background: white;
		border-color: #dadada;
		.border-radius(0);
		margin-bottom: 21px; 

		form > div { 
			border: 0;
			padding: 0;
			position: relative;

			ol { margin-right: 0;}
		}

	}
	//buttons
	.add { margin-right: 10px;}
	
	#qualification-list {
		table { 
			margin-bottom: 21px;
			width: 100%;
			th { 
				background: @green;
				
				color: white;
				font-weight: normal;
				padding: 5px;
				text-align: left;
			}

			td { padding: 5px;}
			.level { width: 20%; }
			.title { width: 25%; }
			.institude { width: 25%; }
			.started { width: 10%; }
			.ended { width: 10%; }
			.controls { width: 10%;}
		}
	}
	
}

#resume-file, #coverletter-file { display: none; }

#profile-progress {
	height: 273px;
}

#expertise {
	text-align: center;
	width: 100%;
	span {
		.border-radius(@radius:15px);
		height: 14px;
		line-height: 14px;
		.inline-block();
		font-size: 12px;
		margin: 5px 5px 5px 0;
		white-space: nowrap;
		background-color: #0066bd;
		color: #FFF;
		padding: 3px 8px;    
	}
}

.box-form-layout {
	.box-sizing(border-box);
	border: 1px solid #dadada;
	padding: 10px 20px;
}

/* Large desktop */
@media (min-width: 1200px) {
	.applicant {
	
		#profile-basic {
			input[type=text] { width: 412px;}
			select {width: 426px;}
		}

		#profile-slug {
			input[type=text] { width: 269px;}
		}
		
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	.applicant .span9 { width: 100%;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.applicant label { display: block;}
	.applicant {
		#profile-photo {
			float: none;
			overflow: hidden;
		}
		#profile-basic {
			input[type=text] { width: 100%;}
			select {width: 103%;}
		}

		#profile-slug {
			clear: both;
			display: block;
			input[type=text] { width: 30%;}
		}
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.applicant {
		#profile-photo {
			float: none;
			overflow: hidden;
		}
		#profile-basic {
			input[type=text] { width: 100%;}
			select {width: 105%;}
		}
		#profile-slug {
			clear: both;
			display: block;
			input[type=text] { width: 30%;}
		}
	}
}