@import "mixins/all";

.reset();

.clearfix {
	clear: both;
	float: none;
}

html, body { height: 100%;}

body {
	.font-normal();
	font-size: 12px;
	background: #fff;

		.container-header {
			font-size: 14px;
			display: block;
		}

		> header {
			//#gradient .vertical ( #202020, #111111);
			background: #202020;
			//border-bottom: 1px solid #dddddd;
			
			height: 74px;
			
			position: fixed;
			width: 100%;
			z-index: 10000;
			a {
				&:hover { text-decoration: none;}
			}
			img { 
				float: left;
				margin: 7px 10px 0 10px ; 
			}

			h1 { 
				color: @green;
				font-size: 16px; 
				line-height: 74px;
				
			}
		}

		nav {
			#gradient .vertical ( #202020, #111111);
			//background: #252525;
			height: 100%;
			//.inner-shadow(-1px -1px 9px #d5d5d5);
			top: 74px;
			position: fixed;
			width: 15%;
			z-index: 9999;
			.ie7 & { width: 172px;}
			.container-header {
				
				// background-color: #1b1b1b;
				// background-image: -moz-linear-gradient(top, #222222, #111111);
				// background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
				// background-image: -webkit-linear-gradient(top, #222222, #111111);
				// background-image: -o-linear-gradient(top, #222222, #111111);
				// background-image: linear-gradient(to bottom, #222222, #111111);
				// background-repeat: repeat-x;
				// border-color: #252525;
				color: white;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
				font-weight: bold;
				height: 50px;
				line-height: 50px;
				text-indent: 10px;
			}

			ul {
				li {
					display: block;
					//padding: 5px 0 0 10px;
					height: 30px;
					position: relative;
					border-bottom: 1px solid #333;
					overflow: hidden;
					+ li {
						border-top: 1px solid #222;
					}
					i {
						float: left;
						display: block;
						line-height: 30px;
						position: relative;
						top: 6px;
						left: 10px;
					}

					a {
						display: block;
						.font-normal();
						padding-left: 35px;
						line-height: 30px;
						//color: #555e64;
						text-decoration: none;

						&:hover { text-decoration: none; }
					}
					
					&.active {
						&:after {
							content : '';
							.size(0, 0); 
							border-top: 15px solid transparent;
							border-bottom: 15px solid transparent; 
							border-right: 10px solid #fff;
							position: absolute;
							top: 0;
							right: 0;
						}
					}

					&:hover {
						 background: @green;
						 a { color: #fff !important; }
					}
				}
			}
		}




		#listings {
			width: 18%;
			background: #fff;

			.container-header {
				text-indent: 10px;
				line-height: 30px;
				border-bottom: 1px solid #dddddd;
				.box-shadow(0px 1px 5px #d5d5d5);	
			}

			ul {
				max-height: 87%;
				overflow-x: hidden;
				overflow-y: scroll;

				li {
					padding: 10px;
					border-bottom: 1px solid #e6e6e6;

					h4 { 
						font-weight: bold;
						line-height: 18px;
					}

					> .date {
						display: block;
						font-size: 11px;
						color: #30a9d3;
						margin: 3px 0 3px 0;
					}
					p { line-height: 15px; }

					&:hover {
						background: #f3f4f5;
						cursor: pointer;
					}
				}
			}
			
		}

		#board {
			.show-on-print { display: none; }					
			
			//background: url(/img/bg-board.png) repeat-y;
			left: 15%;
			position: relative;
			padding-bottom: 21px;
			top: 74px;
			z-index: 1000;
			.ie7 & { left: 172px;}
			.container-header {
				text-indent: 10px;
				font-size: 14px;
				line-height: 50px;
				height: 50px;
				font-weight: bold;
				border-bottom: 1px solid #e6e6e6;

				.btn-toolbar {
					margin: 0 10px 0 0;
				}			
			}

			&.narrow { max-width: 66.9%; }
			&.wide {
				//background: none; 
				width: 85%; 
			}
			#template-container {
				width: 690px;
			}
			> .container-header {
				color: #252525;
				// background-color: #1b1b1b;
				// background-image: -moz-linear-gradient(top, #222222, #111111);
				// background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
				// background-image: -webkit-linear-gradient(top, #222222, #111111);
				// background-image: -o-linear-gradient(top, #222222, #111111);
				// background-image: linear-gradient(to bottom, #222222, #111111);
				// background-repeat: repeat-x;
				// border-color: #252525;
				// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
			}
			.content {
				
				line-height: 21px;
				margin-left: 20px;
				margin-top: 20px;
                //Validation
                .validation {
                    .border-radius(5px);
                    margin-bottom: 20px;
					margin-right: 20px;
                    padding: 13px 30px 13px 47px;
					
                    p { 
                    	.font-normal();
                        margin: 0;
                    }
                    ul li{
                        background: none;
                        list-style: disc;
                        padding: 0px;
                    }
                    &.error {
                        border: 1px solid #f4b6b6;
                        background: #faeeee;
                        background-image: url('/img/validation-sprite.png');
                        background-repeat: no-repeat;
                        background-position: 10px 13px;
                    }

                    &.success {
                        border: 1px solid #83d10c;
                        background: #f1faee;
                        background-image: url('/img/validation-sprite.png');
                        background-repeat: no-repeat;
                        background-position: 10px -730px;
                    }
                }


				#employer-profile {
					input[type=text], input[type=password] {
						width: 280px;
					}

					select {
						width: 294px;
					}
				}
				//Post 
				.employer-form {
					h4{
						font-size: 18px;
						margin-bottom: 21px;
					}
					ul {
						input, textarea, select { margin-bottom: 0;}
						
						li {
                           	list-style:none;
							height: auto;
							overflow: hidden;
							margin-bottom: 21px;
						}
						label {
							float: left;
							height: 30px;
							line-height: 30px;
							width: 150px;
						}

						label.radio {
							width: 80px;

							input[type=radio] { margin-top: 8px;}
						}

						label.auto {
							width: auto;
							margin-right: 50px;
						}
						
						img#logo,{
							display: block;
							margin-left: 150px;
						}

						.tool-tip {
							.inline-block();
							margin-left: 150px;
						}
						
						&.post-desc {
							
							width: 100%;
							#cke_desc, #cke_summary { 
								float: left !important; 
								width: 780px !important;
							}
							input[name="title"] { 
								float: left; 
								width: 768px; 
							}
							textarea[name="summary"] { 
								height: 100px;
								float: left;
								width: 768px;  
							}
							textarea[name="desc"] { float: left }
						}

						&.post-info {
							margin-right: 20px;
							input {
								width: 292px; 
								.ie7 & { width: 217px; }
							}
							select { 
								width: 305px;
								.ie7 & { width: 231px; }
							}
							float: left;
						}

						&.post-add-info {
							margin-right: 0;
							input { 
								width: 292px;
								.ie7 & { width: 217px; }
							}
							select { 
								width: 305px;
								.ie7 & { width: 231px; }
							}
							float: left;
							margin-bottom: 20px;

						}
						#custom-apply { width: 42%;}
						.hidden { display: none;}

						@media (max-width: 1163px) {
							&.post-info {
								input { width: 217px; }
								select { width: 231px; }
								float: left;
							}

							&.post-add-info {
								input { width: 217px;}
								select { width: 231px; }
								float: left;
							}
						}
					}
					&.email-form {
						.email-text {
						
							width: 714px;
						}
						.email-textarea.ckeditor{
							height: 300px;
							width: 714px;
							float: left;
						}
						#cke_email-success, #cke_email-unsuccess { width: 784px;}
						label {
							width: 160px;
							float: none;
						}
					}
				}

				.invoice {
					margin-top: 21px;
					width: 50%;
					th, td {
						padding: 5px 30px;
						text-align: center;
					}
					th {

						background: #eee;
						border-top: 1px;
						border-bottom: 1px;
						border-style: solid;
						border-color: #333;
						font-weight: bold;
					}
					td:first-child, th:first-child {
						text-align: left;
						
					}

					.total { font-weight: bold;}
				}//invoices

				.post-templates {
					overflow: hidden;
					li {
						cursor: pointer;
						display: block;
						float: left;
						margin-right: 20px;
						padding: 10px;

						&.selected {
							h5 { color: white; }
							#gradient > .vertical ( #258DC8, #30a9d3 );
						}
					}
				}//post-templates
				.table-container {
					margin-bottom: 21px;
					
					.table-header-wrapper {
						background: #0b67cd;
						height: 34px;
						position: relative;
						width: 98%;
						h2 {
							color: white;
							.font-light();
							font-size: 19px;
							line-height: 34px;
							float: left;
							margin: 0 0 0 4px;
						}
						.table-toolbar {
							background: #1571d7;
							border: 1px solid #1571d7;
							float: right;
							.font-light();
							a {
								display: block;
								color: #fff;
								padding: 3px 5px 3px 5px;
								i {
									margin-right: 5px;
								}
							}
						}
					}
					table {
						width: 98%;
						background: #fff;
						.table-header-row {
							color: #fff;
							th {
								.font-light();
								background: @green;
								padding: 4px;
								font-size: 15px;
								text-align: left;
								&:first-child {
									width: 20%;
								}
							}
						}

						.table-data-row {
							
							&:hover { background: #e8eaef; }
							
							td {
								font-family: tahoma, san-serif;
								padding: 4px;
								border: 1px solid #ddd;
							}
						}
					}
				}

				.tab-container {
					width: 98%;
					margin-bottom: 20px;
					.etabs {
						margin: 0;
						padding: 0;
					}

					.tab { 
						display: inline-block;
						zoom: 1;
						*display: inline;
						background: #eee;
						border: solid 1px #ccc;
						border-bottom: 0;

						a {
							font-size: 14px;
							line-height: 2em; 
							display: block; 
							padding: 0 10px; 
							outline: none;

							&:hover {
								color: white;
								text-decoration: none;
							}					
						}

						&:hover { 
							background: @green;
							border: 1px solid @green;
							border-bottom: 0;
						}

						&.active {
							background: @green;
							padding-top: 6px; 
							position: relative; 
							border-color: @green; 

							a {color: #fff;}
						}
					}

					.panel-container {

						background: #fff; border: solid #ccc 1px; 
						padding: 10px; 

					}
				}
				#credit-card {
					ul {
						li {
							list-style: none;
							overflow: hidden;

							label, input, select, abbr {
								float: left;
							}

							select {
								width: 264px;
							}
							label { 
								width: 130px;
								line-height: 30px;
								height: 30px;

								&.not-required {
									margin-right: 18px;
								}
							}
							input { 
								margin-right: 10px; 
								width: 250px;
							}
							abbr { 
								margin-right: 10px; 
								border-bottom: 0;
							}

							.date {
								width: 127px;
								margin-right: 10px;
							}

							.cards {
								margin-left: 10px;
							}
						}
					}

					#eway {
						position: absolute;
						margin-top: -10px;
					}
				}


				#result-list {

				}
				#candidate-list {
					margin-top: 10px;

					li {

						float: left;
						background: white;
						border: 1px solid #ccc;
						.box-shadow(0px 5px 15px #dddddd);
						position: relative;
						width: 500px;
						margin-right: 20px;
						margin-bottom: 30px;
						img { 
							float: left;
							margin-right: 20px;
						}

						label { 
							float: left;
							width: 100px;
						}
						p { margin-bottom: 5px;}
						.profile-content {
							background: white;
							overflow: hidden;
							position: relative;
							padding: 20px 20px 0 20px;
							z-index: 1000;
						}

						.poptop { 
							background: @green;
							border: 1px solid #ccc;
							color: white;
							cursor: pointer;
							padding: 5px 10px;
							position: absolute;
							top: 0;
							right: -1px;
							z-index: 10;
							transition: top 0.1s linear 0.1s;
							-webkit-transition: top 0.1s linear 0.1s;
						}
						.sidebar { 
							clear: both;
							margin-top: 15px;
							padding: 0 0 20px 20px;
						}

						&:hover {
							.poptop {
								top: -30px;
							}
						}
					}
				}

			}//content
		}
}

#page-index nav ul li.page-employer-index,
#page-post nav ul li.page-employer-post,
#page-archived nav ul li.page-employer-archived,
#page-template nav ul li.page-employer-template,
#page-profile nav ul li.page-employer-profile,
#page-email nav ul li.page-employer-email,
#page-invoice nav ul li.page-employer-invoice,
#page-search body nav ul li.page-employer-search,
 {
  background: @green;
  a {
  	 color: white !important;
  }
}
 

@import "guide";
@import "adcontainer";
@import "templating";
@import "partial/validation-engine";



@media (max-width: 1230px) {
	#board {
		left: 185px !important;
		.content {
			width: 95%;
			
		}
		
	}
	nav {
		width: 185px !important;
	}
}

@media (max-width: 1024px) {
	#board {
		.content {
			width: 807px;
			.table-container {
				width: 800px;
			}
		}
		
	}
}

@import "employer-print";