#footer {
	#gradient .vertical ( #202020, #111111);
	//background: #252525;
	bottom: 0;
	color: #fff;
	padding-bottom: 45px;
	padding-top: 45px;



	// > .container { padding-top: 9px; }

	// img { margin-bottom: 9px; }

	// a { color: #ccc; }
	h3 {
		.font-light();
	}
	ul {
		margin-left: 0;
		li {
			font-size: 12px;
			font-family: tahoma, @base-font-stack;
			float: left;
			list-style: none;
			ul {
				margin-top: 5px;

				li {
					float: none;
				}
			}
		}
	}
	.links-container {
		margin-bottom: 21px;
		> ul > li {
			padding-left: 30px;
			.box-sizing(border-box);
		}
	}
	#copyright { 
		.font-light();
		font-size: 12px;
		padding-left: 30px;
	}
}