/* =FORMS STYLES 
=================================================================== */
.modal { padding : 0 !important;}

.validate-form , .form {
	h4 {
		.font-normal();
		font-size: 16px;
		line-height: 20px;
		font-weight: bold;
		padding: 10px 10px;
		color: #555;
		text-shadow: 0 1px 0 #fff;
		display: block;
		border: 1px solid #CACACA;
		border-bottom: 0 none;
		background-color: #eaeaea;
		background-image: -moz-linear-gradient(#fafafa, #eaeaea);
		background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
		background-image: linear-gradient(#fafafa, #eaeaea);
		background-repeat: repeat-x;
		margin: 0;
		
	}

	.pad {
		.box-sizing(border-box);
		border: 1px solid #ccc;
		padding: 10px 20px;
		
	}
	> div {
		margin-bottom: 21px;
	}

	.alert {
		border: 1px solid #fbeed5 !important;
	}
	
	// .btn-primary {
	// 	margin-left: 5px;
	// }

	ol, ul {
		margin: 0;
		//padding: 0 0 20px 20px;
		//float: left;
		//margin-right: 34px;

		li {
			list-style: none;
			
			label { 
				
				float: left; 
				line-height: 30px;
				width: 215px;

				&.checkbox { 
					line-height: inherit;
					margin-top: 5px;
					margin-left: 10px;
				}

			}

			input[type="submit"], input[type="button"] {
				margin-top: 10px;
				
			}

		}
	}

	&#applicant-privacy-settings, &#job-apply{
		margin-bottom: 0;
		div {  margin-bottom: 0;}
	}
}



	
.form-signin {
	
	max-width: 424px;
	margin: 0 auto;
	border: 1px solid #dadada;
	form { 
		padding: 20px; 
		overflow: hidden; 

		ol li label { width: 130px;}
	}
}

#form-login {
	a {
		display: block;
		font-size: 12px;
		margin-top: 12px;
		text-align: center;
	}
	input[type="submit"], input[type="button"] {
		margin-top: 10px;
		margin-right: 34px;
	}
	li { overflow: hidden; }
}

#form-reset {
	label { display: block; }
}

/* =APPLY JOB
=================================================================== */
#job-apply {
	
	ol {
		width: 100%;
		li {
			width: 100%;
			label {
				width: 120px;
			}
			input[type=text], input[type=email] { 
				width: 285px;
			}
			textarea {
				display: none;
				margin-top: 21px;
				.size(285px, 150px);
			}
			#upload-resume, #upload-coverletter, #add-to-account {
				display: none;
			}
		}
	}

	#apply-job-btn {
		height: 45px;
		font-size: 16px;
		margin-top: 21px;
		width: 100%;
	}
}


/* =APPLICANT SETTINGS
=================================================================== */
#applicant-privacy-settings {
	ol {
		li {
			.clearfix();
		}
	}
}



/* =EMPLOYER REGISTER FORM
=================================================================== */

.employer-register-form {

	h3 { 
		text-align: center;
	}
	ol {
		width: 50%;
		margin: 20px auto;
		li {
			overflow: hidden;
			label { width: 150px; }
			input[type=text],input[type=password], select {
				width: 285px;
			}
		}

	}
}


/* =LOGIN MODAL */

#login-modal {
	.validate-form {
		padding-top: 53px;

		> div {
			padding: 0;
			border: 0;
		}
	}
}


@media (min-width: 1200px) {
	.employer-register-form {
		h3 { text-align: center; }
		ol {
			li {
				
				input[type=text],input[type=password], select {
					width: 400px;
				}
			}
		}
	}

	#job-apply {
		ol li {
			input[type=text], input[type=email], textarea {
				width: 385px;
			}
		}
	}


}

@media (min-width: 768px) and (max-width: 979px) { 
	.employer-register-form {

		h3 { text-align: center; }
		ol {
			width: 75%;
			li {
				
				input[type=text],input[type=password], select {
					width: 55%;
				}
			}
		}
	}
}

@media (max-width: 767px) { 

	.employer-register-form {

		h3 { text-align: center; }
		ol {
			width: 75%;
			li {
				
				input[type=text],input[type=password], select {
					width: 45%;
				}
			}
		}
	}
	#job-apply {
		ol li {
			input[type=text], input[type=email], textarea {
				width: 80%;
			}
		}
	}
}

@media (max-width: 480px) { 

	.employer-register-form {

		h3 { text-align: center; }
		ol {
			width: 75%;
			li {
				
				input[type=text],input[type=password], select {
					width: 90%;
				}
			}
		}
	}
	#job-apply {
		ol li {
			input[type=text], input[type=email], textarea {
				width: 99%;
			}
		}
	}
}