/* =FORMS STYLES 
=================================================================== */
.form {
	li {
		list-style: none;
	}
}
.register-form {
	h1 { 
		text-align: center;
		font-size: 24px;
		margin-bottom: 21px;
	}
	h4 { 
		clear: both;
		color: @charcoal;
		display: block;
		font-size: 18px;
		font-style: italic;
		position: relative;
		margin: 20px auto;
		text-align: center; 
		width: 600px;


		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			height: 1px;
			width: 30%;
			background: #d8d8d8;
			top: 10px;
		}
		&:after { right: 0;}
	}



	.span6 { 
		padding: 40px 45px;
		.tile;
		margin: 0 auto; 
		float: none;
		

		label, input[type=text], input[type=password] {
			font-size: 14px;
			line-height: 30px;
		}
		input { height: 30px;}
		select { height: 40px;}
	}
}

.login-form {
	margin-bottom: 42px;
	.span6 {
		padding: 40px 45px;
		.tile;
		margin: 0 auto; 
		float: none;


		label, input[type=text], input[type=password] {
			font-size: 14px;
			line-height: 30px;
		}
		input { height: 30px;}
		select { height: 40px;}
	}
	h4 { 
		clear: both;
		color: @charcoal;
		display: block;
		font-size: 18px;
		font-style: italic;
		position: relative;
		margin: 20px auto;
		text-align: center; 
		width: 600px;


		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			height: 1px;
			width: 30%;
			background: #d8d8d8;
			top: 10px;
		}
		&:after { right: 0;}
	}
	
	a {
		display: block; 
		text-align: center;
		text-decoration: underline;
	}

}


#form-reset {
	label { display: block; }
}
.modal { padding : 0 !important;}
/* =APPLY JOB
=================================================================== */
#job-apply {
	.btn.dropdown-toggle {
				width: 120px;
			}
	ol {
		width: 100%;
		li {
			width: 100%;
			label {
				width: 129px;
			}
			input[type=text], input[type=email] { 
				width: 240px;
			}
			textarea {
				display: none;
				margin-top: 21px;
				.size(285px, 150px);
			}
			
			#upload-resume, #upload-coverletter, #add-resume-to-account, #add-coverletter-to-account {
				display: none;
			}
			.date{
				width: 100%;
			}
			
		}
	}

	#apply-job-btn {
		height: 45px;
		font-size: 16px;
		margin-top: 21px;
		width: 100%;
	}
}


/* =APPLICANT SETTINGS
=================================================================== */
#applicant-privacy-settings {
	ol {
		li {
			.clearfix();
		}
	}
}



/* =EMPLOYER REGISTER FORM
=================================================================== */

.employer-register-form {

	h3 { 
		text-align: center;
	}
	ol {
		margin: 20px auto;
		li {
			overflow: hidden;
			label { width: 150px; }
			
		}

	}
}


/* =LOGIN MODAL */

#login-modal {
	.validate-form {
		padding-top: 53px;

		> div {
			padding: 0;
			border: 0;
		}
	}
}


@media (min-width: 1200px) {
	.employer-register-form {
		h3 { text-align: center; }
		ol {
			li {
				
				input[type=text],input[type=password], select {
					width: 364px;
				}
			}
		}
	}

	#job-apply {
		ol li {
			
			input[type=text], input[type=email] { 
				width: 313px;
			}
		}
	}


}

@media (min-width: 768px) and (max-width: 979px) { 
	.employer-register-form {

		h3 { text-align: center; }
		ol {
			li {
				
				input[type=text],input[type=password], select {
					width: 95%;
				}
			}
		}
	}

	#job-apply {
		ol li {
			
			label { display: block; width: 100% ;}
			.date{
				width: 48%;
			}
			input[type=text], input[type=email] { 
				width: 170px;
			}
		}
	}
}

@media (max-width: 767px) { 

	.employer-register-form {

		h3 { text-align: center; }
		ol {
			width: 75%;
			li {
				
				input[type=text],input[type=password], select {
					width: 45%;
				}
			}
		}
	}
	#job-apply {
		ol li {
			label { display: block; width: 100%;}
			input[type=text], input[type=email], textarea {
				width: 94%;
			}
			.date{
				width: 48%;
			}
		}
	}
}

@media (max-width: 480px) { 

	.employer-register-form {

		h3 { text-align: center; }
		ol {
			width: 75%;
			li {
				
				input[type=text],input[type=password], select {
					width: 90%;
				}
			}
		}
	}
	#job-apply {
		ol li {
			input[type=text], input[type=email], textarea {
				width: 99%;
			}
		}
	}
}