@charset "utf-8";
/*	......................................................................
	C A R E E R D B
	----------------------------------------------------------------------
	home.css
	----------------------------------------------------------------------
	© 2012 CareersHire. All Rights Reserved.
	...................................................................... */

@import 'mixins/all';

#home {
	
	#featured-jobs {
		h2 { margin-bottom: 30px;}
		
		h3 { 
			
			font-size: 18px;
			line-height: 36px;
			height: 27px;
			overflow: hidden;
			margin: 0;
			margin-bottom: 15px;

			
		} 
		ul {
			margin-left: 0px;
			margin-bottom: 50px;
			overflow: hidden;
			li {

				min-height: 400px;
				.box-sizing(border-box);
				.border-radius(5px);
				overflow: hidden;
				list-style: none;
				
				&.alt-0 { background: @charcoal; }
				&.alt-1 { background: @orange; }
				&.alt-2 { background: @charcoal; }
				figure { 
					background: white;
					margin: 0;
					margin-top: 20px;
					height: 150px;					
					width: 100%;
					text-align: center;
					img { margin-top: 30px;}
				}
				.wrapper { 
					background: #f7f7f7;
					padding: 10px 20px; 
					height: 190px;
				}
				
				p { 
					font-size: 16px;
					height: 41px;
					overflow: hidden;
					clear: both;
				}
				span { 
					display: block; 
					height: 24px;
					line-height: 24px;
					float: left; 
					font-size: 14px;
					margin-right: 30px;
					margin-bottom: 6px;
					.icon-calendar-empty, .icon-time { 
						color: #e74c3c;
						font-size: 20px;
						margin-right: 10px;
						line-height: 10px;
					}
				}
				.category { 
					padding-left: 0; 
					clear:both;
					height: auto;
					text-decoration: underline;
				}

				img {
					max-height: 100px;
					max-width: 250px;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	#home {
		#featured-jobs {
			figure { width: 200px; }
			ul {
				li {
					
					img {
						max-height: 100px;
						max-width: 350px;
					}
				}
			}
		}
	}
	
	
}

@media (min-width: 768px) and (max-width: 979px) { 

}

@media (max-width: 767px) { 

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}
