#content {

	#sort-toolbar {
		margin-bottom: 12px;
	}
	.listings {
		margin-left: 0;
		> li {
			background: #f8f8f8;
			border: solid 1px #dedede;
			box-shadow: inset 0 0 10px #ddd;
			clear: both;
			list-style: none;
			padding: 20px;
			margin-bottom: 21px;
			position: relative;
			
			//min-height: 202px;

			h2 {
				color: @orange;
				.lato-semibold();
				font-size: 18px;
				line-height: 24px;
				
				margin: 0 ;
				a {
					color:  @dark-brown;
					&:hover {color: @light-orange;}
				}
			}


			
			
			li {
				list-style: disc;
			}		
		}
		.figure {
			margin: 0;
			float: left;
			margin-right: 20px;
		}
					
	}

	.dropdown-menu {
		li {
			list-style: none !important;
			padding: 0;
			height: auto;
			border: 0;
			margin-bottom: 0;
		}
	}

	#job-listing {
		img { height: 40px;}
		.shortlist-tag {
			display: none;
			background: url(/img/icons/bookmark.png);
			height: 51px;
			width: 48px;
			position: absolute;
			top: -10px;
			right: 5px;
			.icon-star {
				font-size: 25px;
				color: yellow;
				position: absolute;
				top: 7px;
				left: 6px;
			}
			
			//transition
			-webkit-transition: display ease-in 0.1s;
			-moz-transition: display ease-in 0.1s;
			transition: display ease-in 0.1s;

			&.active {
				display: block;
			}
		}

		.job-wrapper {

			overflow: hidden;

		}
		.main-info {
			.box-sizing(border-box);

			float: left;
			width: 70%;
			padding-right: 15px;
			
			p > a {
				
				&:hover { 
					color: @light-orange;
				}
			}
		}

		.additional-info {
			width: 30%;
			float: right;
			h4 {
				color: @dark-brown;
				.lato-normal();
				margin-top: 0;
			}
			> span { 
				font-size: 12px;
				display: block;
				margin-bottom: 10px;
			}
			img {
				height: 50px;
				clear: both;
			}

			.salary,  {
				color: #222222;
				font-weight: bold;
			}

			.company {
				text-transform: uppercase;
			}

			.btn-group, a {
				margin-top: 10px;

			}

		}

		.dropdown-menu {
			.radio {
				padding-left: 40px;
			}
		}
		#job-controls {
			width: 30%;
			a.btn {
				width: 65px;
				i { 
					font-size: 16px;
					margin-left: 6px;
					position:relative;
					top: 1px;
				}
			}
			.shortlist-btn {
				width: 100px;
				i { 
					font-size: 16px;
					margin-left: 6px;
					position:relative;
					top: 1px;
				}
			}
		}
	}

	#document-listing, #resume-listing, #coverletter-listing  {
		margin-top: 25px;
		margin-right: 0;
		//width: 90%;

		> .item {
			clear: both;
			list-style: none;
			overflow: hidden;
			margin-bottom: 20px;
			background: none;
			padding-left: 0px;

			> .title { 
				width: 60%;
				float: left;
				margin: 0px;
			}

			> .date-upload { 
				width: 15%;
			}

			> .filesize {
				width: 15%;
			}

			a {
				> .icon {
					float: right;
					display: block;
					.size(15px, 20px);
					
					margin-right: 5px;
				}	
				> .doc, > .docx { background-image: url('/img/icons/doc.png'); }
				> .pdf 			{ background-image: url('/img/icons/pdf.png'); }							
			}

			span {
				float: left;
				display: block;
			}
		}
	}

	#resume-listing {
		>.item {
			&:hover {
				background: #f0f0f0;
			}
		}
	}

	

	#feature-listing, #feature-listing-mobile {
		background: @light-orange;
		
		margin-top: 10px;
		margin-left: 0;
		li {
			list-style: none;
			border-bottom: 1px solid #e7e7e7;
			a {
				#gradient .vertical (#ffffff, #f4f4f4);
				display: block;
				font-size: 12px;
				min-height: 17px;
				padding: 12px 14px 12px;
				line-height: 21px;
				position: relative;
				i { color: @dark-brown;}
				&.active {
					color: @light-orange;
					background: @dark-green;
					i { color: @light-orange;}
				}
			}
		}

		
	}
}
@media (min-width: 1200px ) {
	#content #job-listing {
		#job-controls {
			a.btn { width: 80px;}
			.shortlist-btn { width: 104px;}
		}
	}
}
@media (min-width: 768px) and (max-width: 979px) { 
	#content #job-listing {
		.additional-info {
			width: 100%;
			text-align: center;
		}
		.main-info {
			width: 100%;
			padding-right: 0;
			margin-bottom: 21px;
		}

		#job-controls {
			float: none;
			width: 203px;
			margin: 0 auto;
			a.btn { width: 76px;}
			.shortlist-btn { width: 100px;}
		}
	}
	
}

@media (max-width: 767px) { 
	#content #job-listing {
		figure {
			width: 100%;
			text-align: center;
			margin-bottom: 21px;
		}
		.additional-info {
			width: 100%;
			text-align: center;
		}
		.main-info {
			width: 100%;
			padding-right: 0;
			margin-bottom: 21px;
		}

		#job-controls {
			float: none;
			width: 203px;
			margin: 0 auto;
			a.btn { width: 76px;}
			.shortlist-btn { width: 100px;}
		}
	} 
}

@media (max-width: 480px) {
	#content #job-listing {

		figure {
			width: 100%;
			text-align: center;
			margin-bottom: 21px;
		}
		.additional-info {
			width: 100%;
		}
		.main-info {
			width: 100%;
			padding-right: 0;
			margin-bottom: 21px;
		}

		#job-controls {
			float: none;
			width: 200px;
			margin: 0 auto;
			width: 203px;
			margin: 0 auto;
			a.btn { width: 76px;}
			.shortlist-btn { width: 100px;}
		}
	}
}