#toolbar {
/*	float: right;
	height: 100%;
	
	.transition(.5s);*/
}

#custom-template {
	
	color: #333333;
	height: 100%;
	text-indent: #444 0 -1px 0;
	
	ol li { clear:both; position:relative;}
	#title-colorpicker, 
	#hbg-colorpicker, 
	#bbg-colorpicker, 
	#fbg-colorpicker, 
	#body-colorpicker, 
	#footer-colorpicker { 
		display: none;
		position: absolute;
		right: 9px;
		z-index: 999;
		background: white;
		border: 1px solid #cccccc;
		top: 29px;
	}
	.image-title {
		display: none;
		.tooltip-a { 
			.inline-block();
			margin-left: 10px; 
		}
	}
	
	.help-block { 
		clear:both;
		font-style: italic;
	}
	
	.loading { 
		display: none;
		position: absolute;
		right: -4px;
	}
	.color-picker { 
		cursor: pointer;
		margin-bottom: 0;
		width: 9px; 
		height: 12px;
	}
	
	.color-wrapper { 
		margin-right: 13px;
		margin-top: 2px;	
	}
	
	.btn-primary {
		float: none;
	}
	
	label { width: 100px; }
	label.long {
		width: 100%;
	}
	h5 {
		color: #4c4c4c;
		font-size: 14px;
		line-height: 28px;
	}

	.tab-container {
		padding: 0;
		.panel-container {
			border: 0;
			padding: 0;
		}
		.btn-position {
			button {
				.border-radius(0);
				height:60px;
				width: 50px;
				&.active {
					.button-background();
				}
			}
		}
	}

	//top tab nav
	#controlPaneNav {
		clear: both;
		background: white;
		height: 60px;
		width: 100%;
		li {
			background: white;
			border: 0;
			
			a {
				.sprite(0,6,'/img/icons/template-icons.png', 1);
				.size(60px, 60px);
				padding: 0;
			}

			&.active { padding: 0; }
			&:hover { border-top: 0;}

			+ li { margin-left: -4px; }

			&#navBasics a {
				.sprite(0,-6,'/img/icons/template-icons.png',1);
			}

			&#navHeader a{
				.sprite(0,55,'/img/icons/template-icons.png',1);
			}
			&#navContent a {
				.sprite(0,115,'/img/icons/template-icons.png',1);
			}
			&#navFooter a {
				.sprite(0,175,'/img/icons/template-icons.png',1);
			}

			&#navBasics.active a {
				.sprite(76,-6,'/img/icons/template-icons.png',1);
			}

			&#navHeader.active a{
				.sprite(76,55,'/img/icons/template-icons.png',1);
			}
			&#navContent.active a {
				.sprite(76,115,'/img/icons/template-icons.png',1);
			}
			&#navFooter.active a {
				.sprite(76,175,'/img/icons/template-icons.png',1);
			}


		}
	}

	

}


@media (min-width: 1200px) {
	#custom-template {
		#colorpicker { 
			right: 9px;
			top: 29px;
		}
	}
	
}

@media (min-width: 768px) and (max-width: 979px) { 
	#page-template.employer {
		#toolbar {
			width: 100%;
		}
		.span7 {
			width: 100%;
		}
	}
	
}