@charset "utf-8";
/*	......................................................................
	C A R E E R D B
	----------------------------------------------------------------------
	home.css
	----------------------------------------------------------------------
	© 2012 CareersHire. All Rights Reserved.
	...................................................................... */

#home #featured-jobs h2 {
  margin-bottom: 30px;
}
#home #featured-jobs h3 {
  font-size: 18px;
  line-height: 36px;
  height: 27px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 15px;
}
#home #featured-jobs ul {
  margin-left: 0px;
  margin-bottom: 50px;
  overflow: hidden;
}
#home #featured-jobs ul li {
  min-height: 400px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  list-style: none;
}
#home #featured-jobs ul li.alt-0 {
  background: #333333;
}
#home #featured-jobs ul li.alt-1 {
  background: #f39c12;
}
#home #featured-jobs ul li.alt-2 {
  background: #333333;
}
#home #featured-jobs ul li figure {
  background: white;
  margin: 0;
  margin-top: 20px;
  height: 150px;
  width: 100%;
  text-align: center;
}
#home #featured-jobs ul li figure img {
  margin-top: 30px;
}
#home #featured-jobs ul li .wrapper {
  background: #f7f7f7;
  padding: 10px 20px;
  height: 190px;
}
#home #featured-jobs ul li p {
  font-size: 16px;
  height: 41px;
  overflow: hidden;
  clear: both;
}
#home #featured-jobs ul li span {
  display: block;
  height: 24px;
  line-height: 24px;
  float: left;
  font-size: 14px;
  margin-right: 30px;
  margin-bottom: 6px;
}
#home #featured-jobs ul li span .icon-calendar-empty,
#home #featured-jobs ul li span .icon-time {
  color: #e74c3c;
  font-size: 20px;
  margin-right: 10px;
  line-height: 10px;
}
#home #featured-jobs ul li .category {
  padding-left: 0;
  clear: both;
  height: auto;
  text-decoration: underline;
}
#home #featured-jobs ul li img {
  max-height: 100px;
  max-width: 250px;
}
@media (min-width: 1200px) {
  #home #featured-jobs figure {
    width: 200px;
  }
  #home #featured-jobs ul li img {
    max-height: 100px;
    max-width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
/* Landscape phones and down */

@media (max-width: 480px) {
  
}
